:root {
  --bg-color: linear-gradient(147deg, #000000 0%, #434343 74%);
  --text-color: #d7d7d7;
  --card-bg: #2b2b2b91;
  --card-bg3: #2b2b2b;
  --card-bg2: #5f5f5fcd;
  --card-body2: linear-gradient(#63615d, #a09068);
  --text-color2: #000000;
  --accent-color: #000000;
  --back-color: #dedede;
  --text-color2: #adadad;
  --border-color: #404040;
}

/* add some transition effect for dark theme changing */
* {
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}

nav {
  background-color: var(--card-bg);
  color: var(--text-color);
}

.nav-links {
  border: var(--border-color);
}

.nav-links a {
  color: var(--text-color);
}

.nav-links a:hover {
  background-color: #444;
}

.nav-links a.active {
  background-color: var(--back-color);
  color: var(--accent-color);
}

.icon-btn {
  background-color: var(--card-bg2);
}

.icon-btn:hover {
  background: #444;
}

.card {
  background-color: var(--card-bg2);
  border: 1px solid var(--border-color);
}

.card-header2 {
  background-color: var(--card-bg2);
  border: 1px solid var(--border-color);
}

.card-body {
  background-color: var(--card-bg2);
  border: 1px solid var(--border-color);
}

.card-body2 {
  background: var(--card-body2);
  border: 1px solid var(--border-color);
}

.card-title {
  color: var(--text-color);
}

.card-sub {
  color: var(--text-color);
}

.schedule {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
}

.schedule-header h2 {
  color: var(--text-color);
}

.arrow {
  background-color: var(--card-bg2);
  color: var(--text-color);
}

.time {
  color: var(--text-color);
}

.form {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
}

.form-box {
  background: var(--card-bg);
  border: 1px solid var(--border-color);
}

input,
select,
textarea {
  background: var(--card-bg2);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.slider-toggle {
  background-color: var(--card-bg2);
}

.form-row label {
  color: var(--text-color);
}

.form-row input {
  border: var(--border-color);
}

.form-row select {
  border: var(--border-color);
}

.form-row textarea {
  border: var(--border-color);
}

.submit-btn {
  background-color: var(--accent-color);
  color: var(--text-color);
}

.menu {
  background-color: var(--card-bg3);
  border: 1px solid var(--border-color);
}

.popup ul li a {
  color: var(--text-color);
  border-radius: 4px;
}

.closebtn {
  color: var(--text-color);
}

.closebtn:hover {
  color: var(--back-color);
}

.popup ul li a:hover {
  background-color: #6b6b6b;
  color: var(--text-color);
}

.popup ul li {
  border-bottom: 1px solid var(--border-color);
}

.notification {
  background: var(--card-bg3);
  border: 1px solid var(--border-color);
}

.tab-btn {
  background: var(--card-bg2);
  color: var(--text-color2);
}
